doctype html
html
    head
        title #{title}
        block meta
        block styles
            link(rel='stylesheet' href='/css/main.css')
    body
        block head
            header
                h1 #{title}

        block content

        block foot
            footer
                p Austin Cawley-Edwards ID: 10388823

        block scripts

