extends layouts/main-layout

//- block meta

//- block styles
append styles
    link(rel='stylesheet' href='/css/login.css')

block content
    div#content-container
        div#login-container
            section.login
                form#login-form(action='/login' method='post')
                    label(for='username') Username
                    input(id='username' type='text' name='username' placeholder='Username' required)
                    label(for='password') Password
                    input(id='password' type='password' name='password' placeholder='Password' required)
                    input(type='submit' value='Login')
                ul.errors
                    each error in errors
                        li= error


append scripts
    script(src="/js/login.js")