@import url('https://fonts.googleapis.com/css?family=Muli');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;
    font-family: Muli, Futura, Helvetica, Arial, sans-serif;
}

header {
    text-align: left;
    padding: 0 16px;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
}