
.input,
.output {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

#palindrome-form * {
    display: block;
    margin: 8px auto;
    padding: 4px;
}

#palindrome-form textarea {
    width: 50%;
    resize: vertical;
}

#palindrome-output-list {
    list-style-type: none;
    margin: 8px 16px;
    padding: 4px;
    word-break: break-all;
}

#palindrome-output-list li {
    margin: 4px 0;
}

.is-palindrome {
    color: blue;
}

.not-palindrome {
    color: red;
}